div.body-content{
  /** Essa margem vai evitar que o conteudo fique por baixo do rodapé **/
  margin-bottom: 40px;
}

footer.fixar-rodape{
  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}