<%- include('./includes/head/header');%>
<%- include('./includes/head/navbar');%>
<div class="container my-5">
    <div class="responsive-table">
        <table class="table my-3">
            exemplo de como será a tabela de contatos da agenda <br>
            <tr>
                <td>Vinicius</td>
                <td>Mendes</td>
                <td>2222222222</td>
                <td>emailteste@gmail.com</td>
            </tr>
            <tr>
                <td>Vinicius</td>
                <td>Mendes</td>
                <td>2222222222</td>
                <td>emailteste@gmail.com</td>
            </tr>
            <tr>
                <td>Vinicius</td>
                <td>Mendes</td>
                <td>2222222222</td>
                <td>emailteste@gmail.com</td>
            </tr>
        </table>
    </div>
</div>
<%- include('./includes/footer/footer');%>