
<%- include('./includes/head/header');%>
<%- include('./includes/head/navbar');%>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-3">
                
                <div class=" container shadow-lg py-5 col-lg-8">
                  <h1 class="text-center">Tela de Login</h1>
                    <form action="login/register" method="POST">
                        <div class="form-floating my-5">
                          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                          <label for="floatingInput">Nome de Usuário</label>
                        </div>
                        <div class="form-floating my-5">
                          <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                          <label for="floatingInput">Senha</label>
                        </div>
                        <!-- <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                          <button class="btn btn-primary">Meu Botão</button>
                        </div> -->
                        <div class="text-center">
                          <button type="submit" class="btn btn-dark btn-lg btn-primary mb-3 ">Enviar</button>
                        </div>
                      </form>
                </div>

            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>